body {
    background-image: url(../images/GettyImages-1325914490.jpg);
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 80px;
    background-color: #dbd2d2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(143, 6, 6, 0.2);
    border: 2px solid black;
    box-shadow: 10px 10px 10px #464545;
}

h2 {
    text-align: center;
}

label, input {
    display: block;
    margin-bottom: 10px;
}
h6{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    
}

input[type="text"], input[type="password"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #999;
    
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

button {
    width: 100%;
    padding: 10px;
    background-color: #2abe5b;
    color: #ffffff;
    border: none;
    border-radius: 67px;
    border-color: #2abe5b;
    cursor: pointer;
    box-shadow: 2px 2px 5px #999;
    
}

button:hover {
    background-color: #0056b3;
}
.l{
    text-align: center;
    margin-top: -40px;
}

.logo {
    position: relative;
    width: 10px;
    height: 10px; 
    border-radius: 50px;
    left: -100px; 
    border-radius: 50%;
    transform: translateX(139px);
    
    
    }
    
    .logo img {
    border: 1px solid #000000;
    position: center; 
    left: -100px; 
    width: 100px;
    height: 100px;
    margin-top: -73px;
    border-radius: 30%;
    transform: translateX(105px);
    top: -80px;
    box-shadow: 2px 2px 5px #504d4d;
    
    }




.q{
    margin-top: -10px;
}
.password-input {
    position: relative;
}

.password-input i {
    position: absolute;
    top: 0;
    left: 370px;
    margin-top: 10px;
}

